<html>
	<head>
        <title>Survive.io</title>
		<style>
			body { margin: 0; }
			canvas { display: block; }
		</style>
        <link rel="icon" type="image/png" href="img/Untitled-3.png" />
	</head>
	<body>
		<script src="build/game-engine.bundle.js"></script>
	</body>
</html>
